---
layout: default
title: Aaron Gunderson
header: Aaron Gunderson
description: Aaron Gunderson is a software engineer interested in web applications, scalability and operations.
---

<article>
  <p>
  Hello human, my name is Aaron. I'm a nerd living in Boston focused on
  continuous learning, and enjoying life while working hard.  I work as a a
  Software Engineer at
  <a href="http://www.skylla.tech" target="_blank">Skylla Technologies.</a> I'm
  a curious person with many interests. This is my home on the web. I post
  short thoughts on my <a href="http://micro.agundy.com">micro blog</a> and
  longer posts are <a href="/blog/">here.</a>
  </p>

  <p> Check out what I'm up to currently on my <a href="/now/">now</a> page.</p>

</article>
<article>
  <h3>Recent Posts:</h3>
  <ul class="unstyled blog-list">
    {% for post in site.posts limit: 3 %}
    <li class="blog-post">
      <p>
      <span class="blog-date">
        {{ post.date | date: '%B %d, %Y' }}
      </span>
      </p>
      <p>
      <a class="blog-post-title" href="{{ post.url }}"><b>{{ post.title }}</b></a>
      </p>
      <p>{{ post.excerpt || strip_html }}</p>
      <a href="{{ post.url }}">Read More</a>
    </li>
    {% endfor %}
    <li class="blog-post">
      <a href="/blog"><b>More Posts</b></a>
    </li>
  </ul>
</article>
