---
layout: default
title: Now | Aaron Gunderson
header: Now
description: What Aaron is up to these days.
---

<p>
I am living in Cambridge, MA. I have been spending most of time working,
climbing, running and reading. I'm working on using my time and resources
valuably.
</p>

<h3>Fitness + Activities</h3>
<p>
<b>Climbing:</b>
I've been rock climbing, hiking, and running as my main fitness and activities.
I've mostly been top roping with a little bouldering, but now I'm working on
learning how to lead climb. Exciting new adventures await.
</p>

<p>
<b>Running:</b> My running ebbs and flows but I recently finished my second
half marathon. I'm running a 5k soon too.
</p>

<h3>Reading</h3>
<p>
I love to read and have read hundreds(thousands?) of books in my life, check
out some of them here: <a href="/about/reading">Reading.</a> Books I'm
currently reading:
<ul>
  <li>Flow: The Psychology of Optimal Experience</li>
  <li>Antifragile</li>
  <li>Superintelligence</li>
</ul>
Recently finished books:
<ul>
  <li>Dead Mountain</li>
</ul>
</p>

<h3>Work</h3>
<p>
I recently left my engineering job at BookBub to join a tiny robotics startup.
See my whole update here: <a href="{% post_url 2018-12-08-new-job %}">New Job - Robots!</a>
</p>
